///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;


$bgZero: #E7ECF3;
$bgOne: #FBFBFB;
$bgTwo: #F9EDEC;
$bgThree: #F0F0F0;
$colorPaleOne: #FFF;
$colorDarkOne: #1A1A1A;
$colorDarkTwo: #606063;

// FONTS
$fontDefault: montserrat, sans-serif;

//TYPOGRAPHIES
p,li,span {
	color: $colorDarkTwo;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 26px;
}

html {
	background-color: $bgOne;
	main {
		a {
			color: $colorDarkOne;
			// text-decoration: none;
		}
	}	
}

