///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;


$bgZero: #E7ECF3;
$bgOne: #FBFBFB;
$bgTwo: #F9EDEC;
$bgThree: #F0F0F0;
$colorPaleOne: #FFF;
$colorDarkOne: #1A1A1A;
$colorDarkTwo: #606063;
$borderZero: #979797;
$borderOne : #2A2A2A;

// ICONS

$sprite : url('../img/icons/humain-avant-tout_sprite.svg');

// FONTS
$fontDefault: montserrat, sans-serif;
$fontSecond: 'Sacramento', cursive;

//TYPOGRAPHIES
p,li,span {
	color: $colorDarkTwo;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 32px;
}

html {
	color: $colorDarkTwo;
	main {
		a {
			color: $colorDarkOne;
			// text-decoration: none;
		}
	}	
}





@mixin grid() {
    display: grid;
    grid-gap: 0;
	.c-content_wrap {
		display: grid;
		align-items: center !important;
		justify-items: center !important;
		background: $bgThree;
		.c-content {
			position: relative;
			z-index: 1;
			margin: 110px 0;
			width: 125%;
			width: calc(100% + 25%);
			background: $colorPaleOne;
			padding: 80px 64px 40px 64px;
		}
		.-b {
			.c-content {
				margin-left: -25%;
			}
		}
	}
	.c-image {
    	background-size: cover !important;
      	background-position: center center !important; 
    }
}

@mixin title($height,$width,$positionsx,$positionsy,$positionex,$positioney) {
    $pageslug-aboutIconHeight: $height;
    $pageslug-aboutIconWidth: $width;
    $asdf: (107px/2) + 23px;
    $asdf2: (107px/2) + 22px;
    .c-header_banner {
        h2 {
            &:after {
                background-position: $positionsx $positionsy;            	
                height: $pageslug-aboutIconHeight;
                top: $asdf2;
                width: $pageslug-aboutIconWidth;
            }        	
            &:before {
                background-position: $positionex $positioney;
                bottom: $asdf;
                height: $pageslug-aboutIconHeight;
                width: $pageslug-aboutIconWidth;
            }

        }
    }
}
