/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

// We have all of our heading font sizes defined here. Passing these pixel
// values into our `inuit-font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

$inuit-font-size-h1:  36px !default;
$inuit-font-size-h2:  28px !default;
$inuit-font-size-h3:  24px !default;
$inuit-font-size-h4:  20px !default;
$inuit-font-size-h5:  18px !default;
$inuit-font-size-h6:  16px !default;

h1 {
    color: $colorDarkOne;
    font-family: $fontSecond;
    font-size: 64px;
    font-weight: 400;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 44px;
}
.c-header_banner h2 {
    .c-title_text {
        opacity: 0;
    color: #FFF;
    font-family: $fontSecond;
    font-size: 72px;
    font-weight: 400;
    }
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    &:after,
    &:before,
    .c-title_top,
    .c-title_bottom {
        background: $sprite;
        content: "";
        left: 50%;
        position: absolute;
        transform: translate(-50%,0);
    }
}

.pageslug-about {
    @include title(123px,137px,0,-248px,0,-109px);
}
.pageslug-contact {
    @include title(119px,131px,-311px,-244px,-311px,-109px);
}

.pageslug-faq,
.pageslug-media,
.pageslug-resources {
    @include title(111px,142px,-153px,-235px,-153px,-109px);
}
.pageslug-testimonials {
    @include title(92px,127px,0,-495px,0,-387px);
}

.c-page-title {
    color: #FFF;
    font-family: $fontDefault;
    font-size: 56px;
    font-weight: 600;  
    letter-spacing: 2px;
    line-height: 64px;
    max-width: 720px;
    position: static;
    stop-color: #FFF;
    text-align: left;
    transform: none;
    width: 100%;
    &:before,
    &:after {
        display:none;
    }
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 36px;
}

h4 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 32px;
}

h5 {
  @include inuit-font-size($inuit-font-size-h5);
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

h6 {
  @include inuit-font-size($inuit-font-size-h6);
}
