/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

// We have all of our heading font sizes defined here. Passing these pixel
// values into our `inuit-font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

$inuit-font-size-h1:  36px !default;
$inuit-font-size-h2:  28px !default;
$inuit-font-size-h3:  24px !default;
$inuit-font-size-h4:  20px !default;
$inuit-font-size-h5:  18px !default;
$inuit-font-size-h6:  16px !default;

h1 {
    -webkit-text-stroke: #000;
    color: $colorDarkOne;
    // -webkit-text-stroke-width: 2px;
    font-size: 64px;
    font-family: 'Sacramento', cursive;
    font-weight: 400;
}
h2,
.c-accordion h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 1px;
    font-weight: 600;
}
.c-header_banner h2 {
    -webkit-text-stroke: #FFF;
    color: #FFF;
    // -webkit-text-stroke-width: 2px;
    stop-color: #FFF;
    font-size: 72px;
    font-family: 'Sacramento', cursive;
    font-weight: 400;
    position: absolute;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    &:after,
    &:before {
        position: absolute;
        content: "";
        left: 50%;
        background: url('../img/icons/humain-avant-tout_sprite.svg');
        transform: translate(-50%,0);
    }
}

.pageslug-about {
    $pageslug-aboutIconHeight: 123px;
    $pageslug-aboutIconWidth: 137px;
    .c-header_banner {
        h2 {
            &:before {
                width: $pageslug-aboutIconWidth;
                height: $pageslug-aboutIconHeight;
                top: calc(-#{$pageslug-aboutIconWidth} - 32px);
                background-position: 0 -109px;
            }
            &:after {
                width: $pageslug-aboutIconWidth;
                height: $pageslug-aboutIconHeight;
                bottom: calc(-#{$pageslug-aboutIconWidth} - 32px);
                background-position: 0 -248px;
            }
        }
    }
}
.pageslug-testimonials {
    $pageslug-testimonialsIconHeight: 92px;
    $pageslug-testimonialsIconWidth: 127px;
    .c-header_banner {
        h2 {
            &:before {
                width: $pageslug-testimonialsIconWidth;
                height: $pageslug-testimonialsIconHeight;
                top: calc(-#{$pageslug-testimonialsIconWidth} - 16px);
                background-position: 0 -387px;
            }
            &:after {
                width: $pageslug-testimonialsIconWidth;
                height: $pageslug-testimonialsIconHeight;
                bottom: calc(-#{$pageslug-testimonialsIconWidth} - 16px);
                background-position: 0 -495px;
            }
        }
    }
}



.c-page-title {
    -webkit-text-stroke: #FFF;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    // -webkit-text-stroke-width: 2px;
    stop-color: #FFF;
    font-size: 56px;
    letter-spacing: 2px;
    font-family: $fontDefault;
    font-weight: 600;  
      text-align: left;
    position: static;
    top: none;
    transform: none;
    left: none;
    width: 100%;
    line-height: inherit;
    width: 720px;
    line-height: 64px;
  &:before,
  &:after {
    display:none;

  }
}




h3 {
  @include inuit-font-size($inuit-font-size-h3);
}

h4 {
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 32px;
}

h5 {
  @include inuit-font-size($inuit-font-size-h5);
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

h6 {
  @include inuit-font-size($inuit-font-size-h6);
}
