footer {
	background: $bgTwo;
	padding: 24px 0;
	position: relative;
	z-index: 2;
	.c-footer_copyright {
		font-size: 16px;
		line-height: 24px;
	}
	picture {
		margin-right: 24px;
	}
@media (min-width: 320px) {
.c-footer_pipe {
	display: none;
}
.c-footer_br {
	display: block;
}
}
@media (min-width: 480px) {
.c-footer_pipe {
	display: inline-block;
}
.c-footer_br {
	display: none;
}
}
}


