.c-accordion {
	@media (min-width: 320px) {
		padding:64px 0;
	}	
	@media (min-width: 840px) {
		padding:72px 0;
	}		
	@media (min-width: 1024px) {
		padding: 88px 0;
	}
	&.-faq,
	&.-media,
	&.-resources {
		background: $bgOne;
	}
	&.-about,
	&.-resources {
		ul {
			li {
				margin-bottom: 16px;
			}
		}
	}
	&.-media,
	&.-about {
		ul {
			li {
				list-style-type: none;
			}
		}		
	}
	&.-resources {
		ul {
			ul {}
		}
	}


	> ul {
		margin: 0;
		li {			
			list-style-type: none;
			.c-accordion_content_wrap {
				display: none;
				&.-displayed {
					display: block;
				}
				.c-accordion_content {
					@media (min-width: 320px) {
						padding-top: 24px;
					}
					@media (min-width: 720px) {
						padding-top: 32px;
					}															
					padding-bottom: 1px;
					margin-bottom: -25px;
				}

			}			
			.c-accordion_title {
				border-bottom: 2px solid $borderZero;
				h3 {


    				line-height: 32px;
    				line-height: 1.333em;					
					margin: 32px 0;
					margin: 1.333em 0;
					padding-right: 56px;
					padding-right: 2.333em;
					position: relative;
					@media (min-width: 320px) {
						font-size: 18px;
					}	
					@media (min-width: 480px) {
						font-size: 20px;
					}	
					@media (min-width: 600px) {
						font-size: 22px;
					}	
					@media (min-width: 840px) {
						font-size: 24px;
					}	
					&:after {
						@media (min-width: 320px) {
							background: url("../img/icons/humain-avant-tout_sprite.svg") -800px -37px;
							height: 18px;
							right: 2px;
							width: 18px;
							top: 6px;			
					    }								
						@media (min-width: 600px) {
							background: $sprite -801px 0;
							height: 23px;
							right: 16px;
							width: 24px;	
					    	top: 6px;				
					    }		
						content: '';											
						position: absolute;
    					transform: rotate(90deg);
    					transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
					}
					&:hover {
						cursor: pointer;
					}					
				}	
				&.-js-accordion-active {
					h3 {
						&:after {
							transform: rotate(-90deg);
						}
					}					
				}	
			}
			&:first-child {
				.c-accordion_title:first-child h3 {
					margin-top: 0;
				}
			}
			&:last-child {
				margin-bottom: 0;
				.c-accordion_content {
					padding-bottom: 1px;
				}
			}
			ul {
				li {
    list-style: disc;
    list-style-position: inside;					
				}
			}
							.c-name {
					font-weight: 600;
					margin-bottom: 0;
				}			
		}
	}
}
