.c-accordion {
	padding: 88px 0;
	&.-faq,
	&.-media,
	&.-resources {
		background: $bgOne;
	}
	&.-about,
	&.-resources {
		ul {
			li {
				margin-bottom: 16px;
			}
		}
	}
	&.-media,
	&.-about {
		ul {
			li {
				list-style-type: none;
			}
		}		
	}
	ul {
		margin: 0;
		li {			
			list-style-type: none;
			.c-accordion_content_wrap {
				display: none;
				&.-displayed {
					display: block;
				}
				.c-accordion_content {
					padding-top: 32px;
					padding-bottom: 1px;
					margin-bottom: -25px;
				}

			}			
			.c-accordion_title {
				border-bottom: 2px solid $borderZero;
				h3 {
					margin: 32px 0;
					padding-right: 40px;
					position: relative;
				    font-size: 24px;
    				line-height: 32px;
					&:after {
						background: $sprite -801px 0;
						content: '';
						height: 23px;
						position: absolute;
						right: 16px;
						width: 24px;
					    top: 6px;
    					transform: rotate(90deg);
    					transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
					}
					&:hover {
						cursor: pointer;
					}					
				}	
				&.-js-accordion-active {
					h3 {
						&:after {
							transform: rotate(-90deg);
						}
					}					
				}	
			}
			&:first-child {
				.c-accordion_title:first-child h3 {
					margin-top: 0;
				}
			}
			&:last-child {
				margin-bottom: 0;
				.c-accordion_content {
					padding-bottom: 1px;
				}
			}
			ul {
				li {
    list-style: disc;
    list-style-position: inside;					
				}
			}
							.c-name {
					font-weight: 600;
					margin-bottom: 0;
				}			
		}
	}
}