.c-content,
.c-content-contribute {
	@media (min-width: 320px) {
		margin-bottom:64px;
	}	
	@media (min-width: 840px) {
		margin-bottom:72px;
	}		
	@media (min-width: 1024px) {
		margin-bottom: 88px;
	}		

	&.-w-button {
		margin-bottom: 98px;		
		.c-content_text {
			margin-bottom: 64px;
		}		
	}
	.c-content-icon {
		background: url('../img/icons/humain-avant-tout_sprite.svg') -595px 0;
		height: 66px;			
		margin: 0 auto 40px auto;
		width: 55px;
		// &.-resources,
		// &.-media {
		
		// }		
		// &.-home {
		// 	background: url('../img/icons/humain-avant-tout_sprite.svg') 0 0;
		// 	width: 46px;
		// 	height: 77px;
		// }
		// &.-testimonials {
		// 	background: url('../img/icons/humain-avant-tout_sprite.svg') -522px 0;
		// 	width: 57px;
		// 	height: 57px;			
		// }
	
		// &.-contact {
		// 	background: url('../img/icons/humain-avant-tout_sprite.svg') -666px 0;
		// 	width: 43px;
		// 	height: 84px;			
		// }	
		// &.-faq {
		// 	background: url('../img/icons/humain-avant-tout_sprite.svg') -725px 0;
		// 	width: 60px;
		// 	height: 57px;			
		// }						
	}			
	.c-content_wrapper  {
		text-align: center;
	}
}