.c-content {
	margin-bottom: 88px;
	&.-w-button {
		margin-bottom: 98px;		
		.c-content_text {
			margin-bottom: 64px;
		}		
	}		
	.c-content_wrapper  {
		text-align: center;
	}
	.c-content-icon {
		margin: 0 auto 40px auto;
		&.-home {
			background: url('../img/icons/humain-avant-tout_sprite.svg') 0 0;
			width: 46px;
			height: 77px;
		}
	}
}