.c-testimonials_form {
	background: $bgThree;
	padding: 40px 72px;
	margin-top: -32px;
	.c-form_btn {
		text-align: right;
	}
}

.-form {
	input[type="text"],
	input[type="email"] {
		height: 48px;
	}
	textarea {
		resize: none;
	}
	textarea,
	input[type="text"],
	input[type="email"] {
		width: 100%;
		border: none !important;
		margin-bottom: 20px;
		background: $colorPaleOne;
		&:focus {
			outline: none;
		}
	}
	label {
		font-size: 14px;
		letter-spacing: 1px;
		margin-bottom: 8px;
		display: inline-block;
	}
	&.-contact {
		background: $colorPaleOne;
		padding: 56px 64px;
		textarea,
		input[type="text"],
		input[type="email"] {		
			border: 1px solid $borderOne !important;
		}
	}
}


.c-form {
	background: $bgZero;
	padding-top: 72px;
	padding-bottom: 106px;
	.c-form_btn {
		text-align: right;

	}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $borderOne;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $borderZero;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


}