.c-testimonials_form {
	background: $bgThree;
	margin-top: -32px;
@media (min-width: 320px) {
	padding: 56px 20px;
	left: -20px;
	width: calc(100% + 40px);
	position: relative;
}
@media (min-width: 375px) {
	padding: 56px 24px;	
	left: -24px;
	width: calc(100% + 48px);
}
@media (min-width: 400px) {
	padding: 56px 28px;	
	left: -28px;
	width: calc(100% + 56px);
}
@media (min-width: 480px) {
	padding: 56px 32px;
	width: 100%;
	left:0;
}	
@media (min-width: 600px) {
	padding: 56px 36px;
}			

@media (min-width: 720px) {
	padding: 56px 40px;
}			
@media (min-width: 840px) {
	padding: 56px 44px;
}			
@media (min-width: 960px) {
	padding: 56px 48px;
}			
@media (min-width: 1024px) {
	padding: 56px 52px;
}					
@media (min-width: 1280px) {
		padding: 56px 56px;
}			
	
	.c-form_btn {
		text-align: right;
	}
}

.c-form {
	label {
		display: inline-block;
		font-size: 14px;
		letter-spacing: 1px;
		margin-bottom: 8px;
	}
	&.-contact {
		background: $bgZero;		
		padding: 72px 0 106px;
		input[type="email"], 		
		input[type="text"],
		textarea {
			border: 1px solid $borderOne !important;
		}
	}
	.c-form_btn {
		text-align: right;
	}
	input[type="text"],
	input[type="email"] {
		height: 48px;
	}
	[type="radio"]:checked,
	[type="radio"]:not(:checked) {
	    left: -9999px;
	    position: absolute;
	}
	[type="radio"]:checked + label,
	[type="radio"]:not(:checked) + label
	{
	    color: #666;
	    cursor: pointer;
	    display: inline-block;
	    line-height: 20px;
	    padding-left: 28px;
	    position: relative;
	}
	[type="radio"]:checked + label:before,
	[type="radio"]:not(:checked) + label:before {
	    background: #fff;
	    border-radius: 100%;
	    border: 1px solid $borderOne;
	    content: '';
	    height: 18px;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 18px;
	}
	[type="radio"]:checked + label:after,
	[type="radio"]:not(:checked) + label:after {
	    -webkit-transition: all 0.2s ease;
	    background: $borderZero;
	    border-radius: 100%;
	    content: '';
	    height: 12px;
	    left: 3px;
	    position: absolute;
	    top: 3px;
	    transition: all 0.2s ease;
	    width: 12px;
	}
	[type="radio"]:not(:checked) + label:after {
	    -webkit-transform: scale(0);
	    opacity: 0;
	    transform: scale(0);
	}
	[type="radio"]:checked + label:after {
	    -webkit-transform: scale(1);
	    opacity: 1;
	    transform: scale(1);
	}
	textarea {
		resize: none;
	}
	textarea,
	input[type="text"],
	input[type="email"] {
		background: $colorPaleOne;
		border: none !important;
		margin-bottom: 20px;
		width: 100%;
		&:focus {
			outline: none;
		}
	}	

}


.c-form_donation {
	background: $bgZero;
	padding: 72px 0 106px;	
}

input#secretHoneypotParamName { display: none; }



.parsley-errors-list {
    margin-top: -20px;
    margin-left: 8px;
	li {
	    list-style-type: none;
    	font-size: 14px;
	}
}

.c-form_confirmation {
	display: none;
	font-weight: 700;
}


