.pageslug-testimonialsList {
	.c-testimonials_single {
		padding-bottom: 114px;
		.c-testimonials_comments {
			background: $colorPaleOne;
@media (min-width: 320px) {
	padding: 56px 20px;
	left: -20px;
	width: calc(100% + 40px);
	position: relative;
}
@media (min-width: 375px) {
	padding: 56px 24px;	
	left: -24px;
	width: calc(100% + 48px);
}
@media (min-width: 400px) {
	padding: 56px 28px;	
	left: -28px;
	width: calc(100% + 56px);
}
@media (min-width: 480px) {
	padding: 56px 32px;
	width: 100%;
	left:0;
}	
@media (min-width: 600px) {
	padding: 56px 36px;
}			

@media (min-width: 720px) {
	padding: 56px 40px;
}			
@media (min-width: 840px) {
	padding: 56px 44px;
}			
@media (min-width: 960px) {
	padding: 56px 48px;
}			
@media (min-width: 1024px) {
	padding: 56px 52px;
}					
@media (min-width: 1280px) {
		padding: 56px 56px;
}			
	
			.c-comments {
				display: none;
				.c-comments_ul {
					.c-comments_li {
						border-bottom: 1px solid $colorDarkOne;
						padding: 32px 0 16px;
						&:last-child {
							border-bottom: none;
							p {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
		.c-preamble {
			margin-bottom: 88px;
		}
		.c-testimonials_content {
			margin-bottom: 56px;
	@media (min-width: 320px) {

						padding-left: 0;	
			}			
			@media (min-width: 1024px) {

						padding-left: 24px;	
			}				
				
			.c-content {
				position: relative;
				p {
					position: relative;
					z-index: 1;					
				}
			&:before {
				position: absolute;
				content: "";
				background: url('../img/icons/humain-avant-tout_sprite.svg');
				width: 134px;
				height: 86px;
@media (min-width: 1024px) {
	left: -32px;
			}		
@media (min-width: 1280px) {
	left: -56px;
			}					
				
				top: -32px;
				background-position: -222px 0;
				z-index: 0;
			}
			&:after {
				position: absolute;
				content: "";
				background: url('../img/icons/humain-avant-tout_sprite.svg');
				width: 134px;
				height: 86px;
				right: 0px;
				bottom: -32px;
				background-position: -372px 0;
				z-index: 0;
			}	
			}
			h4 {
				margin-bottom: 12px;
			}
			.c-testimonials_resources {
				margin-left: 0;
				> li {
					list-style-type: none;
					border-top: 1px solid $borderZero;
					padding-top: 40px;
					margin-bottom: 40px;
					&:last-child {
						margin-bottom: 0;
					}
					p {
						margin-bottom: 12px;
					}
			.c-resources-sm {
				margin-left: 0;
				li {
					list-style-type: none;
					display: inline-block;
					margin-right: 24px;
					&.c-resources-sm_web {
						a {
							background: url(../img/icons/humain-avant-tout_sprite.svg);
							width: 25px;
							height: 25px;
							background-position: -63px -68px;
							display: block;
							text-indent: -999999px;
						}	
					}
					&.c-resources-sm_fb {
						a {
							background: url(../img/icons/humain-avant-tout_sprite.svg);
							width: 10px;
							height: 23px;
							background-position: -104px -67px;
							display: block;
							text-indent: -999999px;
						}	
					}					
				}
			}
			}		
		}
		}
		.c-testimonials_date {
			color: $colorDarkOne;
			margin-bottom: 0;
			padding-left: 24px;	
		}				
		.c-testimonials_id {
			display: none;
		}
		.c-testimonials_interaction {
			background: $bgZero;
@media (min-width: 320px) {
	padding: 56px 20px;
	left: -20px;
	width: calc(100% + 40px);
	position: relative;
}
@media (min-width: 375px) {
	padding: 56px 24px;	
	left: -24px;
	width: calc(100% + 48px);
}
@media (min-width: 400px) {
	padding: 56px 28px;	
	left: -28px;
	width: calc(100% + 56px);
}
@media (min-width: 480px) {
	padding: 56px 32px;
	width: 100%;
	left:0;
}	
@media (min-width: 600px) {
	padding: 56px 36px;
}			

@media (min-width: 720px) {
	padding: 56px 40px;
}			
@media (min-width: 840px) {
	padding: 56px 44px;
}			
@media (min-width: 960px) {
	padding: 56px 48px;
}			
@media (min-width: 1024px) {
	padding: 56px 52px;
}					
@media (min-width: 1280px) {
		padding: 56px 56px;
}			
			p {
				font-size: 26px;
				font-weight: 700;
				letter-spacing: 1px;
				line-height: 38px;
			}
			ul {
				margin: 0;
				li {
					display: block;
@media (min-width: 320px) {
padding-left: 32px;
}
@media (min-width: 720px) {
	padding-left: 48px;
}						
					
					position: relative;
					&:after {
						background: $sprite -922px 0;
						content: "";
						height: 24px;
						margin-top: 2px;
						position: absolute;
						right: 0;
						transform-origin: 8px 8px;		
						transform: rotateX(0deg);		
						transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
						width: 17px;
						top:0;
					}			
					&:before {
						background: url('../img/icons/humain-avant-tout_sprite.svg');
						content: "";
						height:25px;						
						left: 0;
						position: absolute;
						width: 25px;
					}	
					&:first-child {
						border-bottom: 1px solid $colorDarkOne;
						margin-bottom: 16px;
						padding-bottom: 16px;
						&:before {
@media (min-width: 320px) {
	background-position: -841px -29px;
}
@media (min-width: 720px) {
	background-position: -841px 0;
}							
							
						}
					}											
					&:hover {
						cursor: pointer;
					}
					&:last-child {
						&:before {
							background-position: -881px 0;
@media (min-width: 320px) {
							background-position: -881px -36px;
}
@media (min-width: 720px) {
							background-position: -881px 0;
}								
						}
					}
					&.-js-visibles-comments,
					&.-js-visibles-share {
						&:after {
							transform: rotateZ(180deg);
							top:0;
						}	
					}	
					.c-share_options_ul {
						li {
							border-bottom: none;
							padding: 0;
							margin-top: 24px;
							&:before,
							&:after {
								display: none;
							}
							&.c-share_facebook {
							a {
							background: url(../img/icons/humain-avant-tout_sprite.svg);
							width: 10px;
							height: 23px;
							background-position: -104px -67px;
							display: block;
							text-indent: -999999px;
							}
							}
						}
					}				
				}
			}	
		}
		.o-layout__item {
		}						
		.-img{
			
			@media (min-width: 320px) {
				padding-right: 0;
			}			
			@media (min-width: 1024px) {
				padding-right: 40px;
			}			
			@media (min-width: 1280px) {
				padding-right: 98px;
			}
		}	
		h1 {
			margin-bottom: 40px;
			padding-left: 24px;
		}
	}	
	@media (min-width: 320px) {
				#c-testimonials_image {
						display: none;
				}
			}			
			@media (min-width: 1024px) {
				#c-testimonials_image {
						display: inline-block;
				}

			}

#c-testimonials_image {
			@media (min-width: 1024px) {
				width: 40%;
			}			
			@media (min-width: 1280px) {
				width: 50%;
			}
		}

.c-picture_mobile {
	margin-bottom: 72px;
	@media (min-width: 320px) {

						display: block;
			}			
			@media (min-width: 1024px) {

						display: none;
			}	
}


}

.c-pagination {
	&.-single {
		margin-top: 12px;
		&_ul {
			margin-left: 0;
			li {		
				a {
				text-indent: 0;
				}
	
			}
		}
	}	
	&_ul {
		margin-left: 0;
		li {
			list-style-type: none;	
			display: inline-block;
			margin: 0 6px;
			a,span {
				font-size: 20px;
				text-decoration: none;
				text-indent: -999999px;
				position: relative;
				&.c-pagination_previous:before,
				&.c-pagination_next:after {
							background: url(../img/icons/humain-avant-tout_sprite.svg);
							width: 16px;
							height: 16px;
							background-position: -922px 0;
							display: block;
							position: absolute;
							content: "";
top: 6px;
				}
				&.c-pagination_previous {
					padding-left: 24px;
				}
				&.c-pagination_previous:before {
					transform: rotate(90deg);
					left:0;
				}
				&.c-pagination_next {
					padding-right: 24px;
				}				
				&.c-pagination_next:after {
					transform: rotate(-90deg);
					right: 0;

				}				
			}
			span {
				color: $colorDarkTwo;
			}
							&.-next	 {
					float: right;
				}	
		}

		
	}
}




