.c-txt-image {
	&.-version-zero {
		@include grid();		
    	@media (min-width: 320px) {
       		.c-content_wrap {
        		grid-column-start: 1;
        		grid-row-start: 1; 
	    	}
       		.c-image {
        		grid-column-start: 1;
        		grid-row-start: 2; 
        	} 
        }
    	@media (min-width: 840px) {
    		grid-template: repeat(1, [row] minmax(104px, 1fr))/repeat(2, [col] 1fr);
       		.c-content_wrap {
                background: $bgTwo;
                grid-column-start: 1;
                grid-row-start: 1; 
    		}
       		.c-image {
                background: $bgTwo;
        		grid-column-start: 2;
        		grid-row-start: 1; 
                overflow: hidden;
                div {
                    background-size: cover !important;
                }
        	} 
        }
	}
}
.c-image-txt {
	&.-version-zero {
		@include grid();	
		@media (min-width: 320px) {
  			.c-content_wrap {
    			grid-column-start: 1;
    			grid-row-start: 1; 
    		}
  			.c-image {
    			grid-column-start: 1;
    			grid-row-start: 2; 
    		} 
    	}
		@media (min-width: 840px) {
			grid-template: repeat(1, [row] minmax(104px, 1fr))/repeat(2, [col] 1fr);
  			.c-content_wrap {
    			grid-column-start: 2;
    			grid-row-start: 1; 
    		}
  			.c-image {
                 background: $bgThree;
    			grid-column-start: 1;
    			grid-row-start: 1; 
                overflow: hidden;
                div {
                    background-size: cover !important;
                }                
    		} 
    	}		
	}	
}

.c-side-by-side {
	margin-bottom: 112px;
    .c-side-right_content {
        margin-bottom: -24px;
        padding: 88px 48px;
    }
    .c-side-left_content {
        margin-bottom: -24px;
        padding: 88px 32px 0;
    }
}