/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
  transition: $global-transition;
}





/* Style variants
   ========================================================================== */

.c-btn--primary {
  background-color: $colorDarkOne;
  border: none;


  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: #3774a2;
  }

}

.c-btn_div {
  display: inline-block;
  position: relative;
  overflow: hidden;
  span.-first {
    position: absolute;
    width: 1px;
    background-color: $colorDarkOne;
    left: 0;
    bottom: 0;
    top: 0;
      transition: 0.1s ease all;
  }
    span.-second {
    position: absolute;
    height: 1px;
    background-color: $colorDarkOne;
    right:0;
    left: 0;
    top: 0;
      transition: 0.2s 0.1s ease all;
  }
  span.-third {
    position: absolute;
    width: 1px;
    background-color: $colorDarkOne;
    right: 0;
    bottom: 0;
    top: 0;
      transition: 0.1s 0.3s ease all;
  }  
  span.-four {
    position: absolute;
    height: 1px;
    background-color: $colorDarkOne;
    right: 0;
    left: 0;
    bottom: 0;
      transition: 0.2s 0.4s ease all;
  }    
}


.c-btn--main {
  background-color: transparent;
  border: none;
  padding: 0;
     text-decoration: none;
    color: $colorDarkOne;
    font-size: 18px;

    line-height: 26px; 
        padding: 12px 40px 12px 20px;
        position: relative;
        &:after {
          opacity: 0;
            background: url('../img/icons/humain-avant-tout_sprite.svg');
            background-position: -922px 0;
                        width: 24px;
            height: 23px;
            right: 16px;
            position: absolute;
            content: "";          
            top: 10px;
            transform: rotate(-90deg);
            transition: right 0.2s linear, opacity 0.24s linear;
        }
  &,
  &:hover,
  &:active,
  &:focus {

  }

  &:hover,
  &:focus {
 &:after {
    opacity: 1;
    right: 8px;
 }    
  }

}


.c-btn--tertiary {
  background-color: #fff;
  color: #4a8ec2;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #4a8ec2;
  }

  &:hover,
  &:focus {
    color: #3774a2;
  }

}





/* Size variants
   ========================================================================== */

.c-btn--small {
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
}

.c-btn--large {
  padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-large;
}





/* Ghost buttons
   ========================================================================== */

/**
 * Ghost buttons have see-through backgrounds and are bordered.
 */

$btn-ghost-border-width: 2px;

.c-btn--ghost {
  border: $btn-ghost-border-width solid currentColor;
  padding: ($inuit-global-spacing-unit-small - $btn-ghost-border-width) ($inuit-global-spacing-unit - $btn-ghost-border-width);

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }

  &.c-btn--small {
    padding: ($inuit-global-spacing-unit-tiny - $btn-ghost-border-width) ($inuit-global-spacing-unit-small - $btn-ghost-border-width);
  }

  &.c-btn--large {
    padding: ($inuit-global-spacing-unit - $btn-ghost-border-width) ($inuit-global-spacing-unit-large - $btn-ghost-border-width);
  }

  &.c-btn--primary {
    color: #4a8ec2;

    &:hover,
    &:focus {
      color: #3774a2;
    }

  }

  &.c-btn--secondary {
    color: #2f4054;

    &:hover,
    &:focus {
      color: #1d2733;
    }

  }

  &.c-btn--tertiary {
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
    }

  }

}
