/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$inuit-wrapper-width: 1362px !default;

@if (type-of($inuit-wrapper-width) != number) {
  @error "`#{$inuit-wrapper-width}` needs to be a number.";
}

.o-wrapper {
	@include inuit-clearfix();
	padding-right: 56px;
	padding-left:  56px;
	margin-right: auto;
	margin-left:  auto;
	max-width: $inuit-wrapper-width;
	&.-one {
		max-width: 728px;
	}
	&.-two {
		max-width: 713px;
		width: 100%;
		&.-a {
			margin-right: 0;
			padding-right: 0;
		}  
		&.-b {
			margin-left: 0;
			padding-left: 0;
		}    
	}
	&.-three {
		max-width: 1202px;
	}
	&.-four {
		max-width: 931px;
	}	
}


