.c-banner {
	padding-bottom:88px;
	position: fixed;
	width: 100%;
	background: #FFF;
	top: 0;
	&.-home {
		background: #2f2f2f;
		height: 100vh;
		.c-header_background-hero {
			background-size: cover !important;
			height: 100vh;
			position: relative;
			.c-banner_content {
				position: absolute;
				width: 100%;
    			left: 50%;
    			margin-left: 24px;
    			top: 50%;
    			transform: translate(-50%,-50%);
    			.c-page-subtitle {
    				color: $colorPaleOne;
    				font-family: $fontSecond;
    				font-size: 56px;
    			}
			}			
			.o-wrapper {
				height: 100vh;
				position: relative;
				width: 100%;
			}

		}
	}	
	&.-page {
		background: #2f2f2f;
		height: 616px;
		.c-header_background-hero {
			background-size: cover !important;
			height: 616px;
			position: relative;
		}
	}		
}


	main {
		margin-top: 616px;
		position: relative;
		background: #FFF;
		padding-top: 88px;
	}
.pageslug-home {
	main {
		margin-top: 100vh;
	}
}