.c-banner {
	margin-bottom:88px;
	&.-home {
		background: #2f2f2f;
		height: calc(100vh - 34px);
		.c-header_background-hero {
			background-size: cover !important;
			height: calc(100vh - 34px);
			position: relative;
			.c-banner_content {
				position: absolute;
				width: 100%;
    			left: 50%;
    			margin-left: 24px;
    			top: 50%;
    			transform: translate(-50%,-50%);
    			.c-page-subtitle {
    				color: $colorPaleOne;
    				font-family: $fontSecond;
    				font-size: 56px;
    			}
			}			
			.o-wrapper {
				height: calc(100vh - 34px);
				position: relative;
				width: 100%;
			}

		}
	}	
	&.-page {
		background: #2f2f2f;
		height: 616px;
		.c-header_background-hero {
			background-size: cover !important;
			height: 616px;
			position: relative;
		}
	}		
}