

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.c-header_navigation_secondary {
	background-color: $colorDarkOne;
		position: fixed;
		top:0;
		width: 100%;
		z-index: 2;
	.c-navigation_secondary {
		text-align: right;
		ul {
			margin-bottom: 0;
			padding: 3px 0;
			li {
				display:inline-block;
				margin-right: 40px;
				&:last-child {
					margin-right: 0;
				}	
				a {
					color: $colorPaleOne;
					font-size: 12px;
					font-weight: 100;
					letter-spacing: 2px;
					line-height: 28px;
					text-decoration: none;

				}							
			}		
		}
	}
	&.headroom--not-top {

		top: -100%;
		transition: top 0s 0.3s linear;
&.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}
}

	&.headroom--top {

		&.slideInDown {
  			-webkit-animation-name: slideInDown;
  			animation-name: slideInDown;
		}
	}
}


.c-header_navigation_primary {
	margin-bottom: 120px;
	position: fixed;
	top: 38px;
	transition: all 0.2s linear;
	width: 100%;
	z-index: 2;

	&.headroom--top {
		top: 38px;
background: rgba(42,42,42,.0)
}	
	&.headroom--not-top {

		top: 0;
		transition: top 0.25s  linear,background 0.4s linear;
		background: rgba(42,42,42,.8);
	}
	.c-header_flex {
		display: flex;
		transition: all 0.15s linear;	
		.c-header_logo,.c-navigation_primary {
			align-items: center;			
			display: flex;
			flex: 0 auto;
		}		
		.c-header_logo {
			margin-right: auto;
			padding: 12px 0;
			img {
				max-width: 320px;
			}
		}
		.c-navigation_primary {
			ul {
				margin-bottom: 0;
				li {
					display: inline-block;
					margin-right: 40px;
					&:last-child {
						margin-right: 0;
					}
					a {
						color: $colorPaleOne;
						font-family: $fontDefault;
						font-size: 18px;
						letter-spacing: 2px;
						line-height: 28px;
						text-decoration: none;
						text-shadow: 1px 1px 4px rgba(26,26,26,0.9);
					}
				}
			}
		}	
	}
}

.c-sidebar {
	background: $colorDarkOne;
	height: 178px;
	padding: 32px 0;
	position: fixed;
	right: -54px;
	top: 320px;
	width: 54px;
	z-index: 4;
	.c-sidebar_ul {
		position: relative;
		z-index: 6;
		.c-sidebar_item {
			line-height: 0;
			margin-bottom: 23px;
			text-align: center;
			a {
				background: $sprite;
				display: inline-block;
				height: 23px;
				text-indent: -999999px;
				width: 25px;
			}
			&.-emergency {
				a {
					background-position: -194px -68px;
					height: 22px;
					position: relative;
					text-indent: 0;
					&:hover {
						cursor: pointer;
					}

				}
			}				
			&.-facebook {
				a {
					background-position: -161px -68px;
				}
			}
			&.-instagram {
				a {
					background-position: -130px -68px;
					width: 22px;
				}
			}	

		}
	

	}
	.c-emergency_info {
		background: $colorDarkOne;
		height: 178px;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0,-50%);
		transition: height 0.3s 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955), width 0.5s 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		width: 54px;
		z-index: 3;
		.c-emergency_info_content {
			left: 0;
			opacity: 0;
			padding: 40px 70px 40px 48px;
			position: relative;
			transition: opacity 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);

			.c-emergency_title {
				font-weight: 600;
				letter-spacing: 1px;
				line-height: 18px;
				&.-main {
					margin-bottom: 20px;
					text-transform: uppercase;
				}
			}
			.c-emergency_ul {
				margin-bottom: 0;
				li {
					margin-bottom: 16px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}				
			p {
				margin-bottom: 0;
			}
			span {
				display: block;
				width: 100%;
			}			
			* {
				color: #FFF;
				font-size: 12px;
				line-height: 18px;
			}			
		}
		&.js-active {
			height: 329px;
			transition: height 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), width 0.5s 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
			width: 385px;
			.c-emergency_info_content {
				left: 0px;
				opacity: 1;
				transition: opacity 0.4s 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955);
			}			
		}
	}
					.c-emergency_label {
					    position: absolute;
					    content: 'Urgence immmédiate';
					    bottom: 13px;
					    background: #ffdc12;
					    /* border: 2px solid #979797; */
					    /* border-radius: 6px; */
					    color: #1a1a1a;	
					    font-size: 16px;
					    line-height: 20px;
					    z-index: 0;		
					    padding: 4px 12px 8px 8px;
					    text-align: right;
						opacity: 0;
						right: -98px;
						transition: right 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
					}	



}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
					.-js-emergency {
						.c-emergency_label {
right: 54px !important;
						}
					}
